{% extends 'base.html' %}
{% block content %}
{% load static %}

<a href="{% url 'Home' %}" class="btn">
    <br/>
    <h4 style="color:rgb(29, 29, 151);"><i class="fas fa-arrow-left"></i> Back</h4>
</a>

<div class="head" style="background: url('static/img/LUG.png') top center; background-size: cover; min-height:350px;">
    <div class=" container site-heading">
        <h1 class="text-center">Sejarah Batik Pesisir</h1> <hr/>
    </div>
</div>


<div class="container">
    <p style="font-size: 1.125rem; line-height: 1.5cm;">
    Sejarah dan Perkembangan Batik Pesisir 

    Batik pesisir diperkirakan sudah ada sejak abad 13-15. Pada awal abad 15, kota-kota di pantai utara Pulau Jawa sudah berada di bawah kekuasaan kerajaan-kerajaan Islam dan menjadi pusat perdagangan yang berhubungan dengan Malaka, Samudera Pasai, Ternate, Tidore, kota-kota pantai di Kalimantan, Sulawesi, Maluku, dan pedagang mancanegara. Pesisir Jawa menjadi tempat pertemuan pedagang, pelawat, maupun agamawan dari Arab, India, Cina, dan pelbagi penjuru Asia Timur. Di sinilah pendatang Arab, dan Gujarat dari India memperkenalkan agama Islam. Di sini pula para penjelajah Barat pertama pada abad 15 dan 16 mendarat. Penduduk pada daerah pantai utara lebih terpapar dan lebih mudah menyerap pengaruh luar, sehingga pesisir utara menjadi "belanga peleburan".
    Awalnya para pedagang dan agamawan terlebih dahulu singgah di pesisir Jawa,diperkirakan sekitar abad 12.</p>
    <p style="font-size: 1.125rem; line-height: 1.5cm;">
    Saat itu pedagang maupun agamawan yang berasal dari Gujarat dan Arab ikut memperkenalkan kebudayaan Islam kepada masyarakat pesisir. Dari sinilah akhirnya lahir kerajaan Islam di Pulau Jawa, seperti Demak dan Cirebon serta pondok-pondok pesantren. Di dalam lingkungan pesantren, santri-santri mendapatkan keterampilan untuk melukiskan gambar di atas kain. Awalnya gambar yang dilukiskan adalah motif flora dan fauna, dengan menggunakan malam sebagai perintang warna dan canting sebagai alat untuk membubuhkan malam ke atas kain. Lalu muncul kebudayaan membatik dan istilah batik tulis. Kemudian kain-kain tersebut dijual oleh para santri ke pasar. Dari sini masyarakat dan para pedagang mulai mengenali batik.
    </p>
    <p style="font-size: 1.125rem; line-height: 1.5cm;">
    Kemudian para penjelajah dari Inggris dan Belanda datang ke Indonesia dan juga ikut tertarik dengan ragam hias batik.
        Percampuran budaya awalnya darasal dari kedatangan agama Islam dan pedagang Cina yang datang ke Indonesia. Pedagang Cina membawa sutera bersulam dan juga porselin yang bergambar naga, burung bangau, serta bunga-bunga yang ada di Cina seperti plum, ikut diadaptasikan pada kerajinan batik dan dikombinasikan dengan ragam hias yang sudah merupakan bagian dari kebudayaan Indonesia seperti kawung. Sejak pertengahan abad 19 sampai 1942 batik juga mendapat pengaruh besar dari kaum Indo-Belanda. Wanita Indo-Belanda memperkenalkan ragam hias buketan sehingga mendominasi batik pesisir selama berpuluh tahun.
    Produksi batik pesisir tumbuh dengan pesat sekitar tahun 1870-an, didukung dengan adanya kereta api dan kapal uap. Pedagang dan masyarakat penghasil batik berusaha memenuhi selera konsumen yang beragam dan senantiasa menuntut inovasi baru. Salah satu inovasi pada metode membatik adalah dikembangkannya batik yang pembubuhan malamnya dilakukan dengan lempengan logam bermotif. Alat itu biasa disebut dengan "cap" dan hasilnya disebut dengan batik cap". Kemudian sekitar tahun 1970-an muncul tekstil bermotif batik yang populer hingga saat ini yang disebut dengan batik printing". Motif batik dibubuhkan pada kain dengan mesin cetak yang kini sudah dikomputerisasi.
    </p>
    <br/><br/>
</div>

<br/>

<hr/>
<br/><br/>
{% endblock %}