{% extends 'base.html' %}
{% block content %}
{% load static %}


<div id="about" class="container">
    <div class="container">
        <br/><br/><br/>
        <div class="section-title">
            <h1 class="text-center">About Me</h1><hr/>
        </div>
        <br/><br/><br/>
        <div class="row">
            <div class="col-lg-4">
                <img src="{% static 'img/ftp.jpg' %}" class="img-fluid" alt="hardisyafrizal" loading="lazy" style="border-radius: 25px;">
            </div>
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3>My personal details</h3><br/>
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Nama:</strong> <span>Hardi Syafrizal</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Kelas:</strong> <span>3KA32</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>NPM:</strong> <span>13118064</span></li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-chevron-right"></i> <strong>Website:</strong> <span>nulltyper.wordpress.com</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+62 851 5508 0292</span></li>
                            <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>hardisyafrizal@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                <blockquote class="blockquote" style="color: black;">
                  <p class="text-justify">
                    Seorang mahasiswa Universitas Gunadarma angkatan 2018 yang berlokasikan di kampus E Karawaci
                    aktif sebagai anggota dari organanisasi Fajrul Islam angkatan 2018, dan
                    pernah menjadi anggota dari Himpunan Mahasiswa Sistem Informasi.
                  </p>
              </blockquote>
            </div>
        </div>
    
    </div>
  </div> 
  </div>

{% endblock %}