{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}
{% load static %}

{% block content %}

<div class="container">
    <h1>{{post.title}}</h1>
    <small>By: {{post.author}} - {{ post.date }}</small>
    <hr>
    <br/>
</div>

<div class="container" style="background-color: rgb(243, 241, 241);">
    {% if post.image %}
        <img src="{{ post.image.url }}" class="img-fluid">
    {% endif %}
    <br/><br/><br/>
    {{ post.body|safe }}
    <br/>
        <a href="{% url 'home' %}" class="btn btn-outline-secondary btn-sm">Back</a>
    <br/>
</div>
<br/>
<hr/>
<br/>
<br/>
{% endblock %}